version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: finance-postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${ADMIN_POSTGRES_USER}
      POSTGRES_PASSWORD: ${ADMIN_POSTGRES_PASSWORD}
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
    ports:
      - "5432:5432"
    volumes:
      - ./resources/scripts:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: