version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: finance-api
    env_file:
      - .env
    environment:
      APP_ENV: ${APP_ENV:-dev}
      SERVER_PORT: ${SERVER_PORT:-8080}
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"