{:server {:port #long #or [#env SERVER_PORT 8080]}
 :auth {:jwt {:secret #or [#env JWT_SECRET "mudar-para-uma-env-var-em-producao"]}}
 :db {
      :url #or [#env POSTGRES_URL "jdbc:postgresql://localhost:5432/finance_db?user=finance_app_runtime&password=finance_pass"]
      }}
